{% url 'home' as home_url %}
{% url 'upload_moment' as upload_url %}
{% url 'profile' as profile_url %}
{% load static %}

  <nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e5e5e5;">
      <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'welcome'%}"><div class="logo-image">
      <img src="{%static 'logo/banner.png'%}" class="img-fluid" alt="Logo-image" width="100">
    </div></a>
      <ul class="navbar-nav me-auto">
        <li class="nav-item {% if request.path == home_url %} active {%endif%}">
          <a class="nav-link " href="{% url 'home'%}"><strong>Gallery</strong></a>
        </li>
        <li class="nav-item {% if request.path == upload_url%} active {%endif%}">
            <a class="nav-link " href="{% url 'upload_moment' %}"><strong>Upload</strong></a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item pe-3 {% if request.path == profile_url%} active {%endif%}">
            <a class="nav-link " href="{% url 'profile'%}"><strong>Profile</strong></a>
        </li>
        <li class="nav-item pe-3">
            {% if user.is_authenticated %} 
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button class="btn btn-primary">Log Out</button>
              </form>
            {% else %}
            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                <button class="btn btn-primary">Log In</button>
              </form>
            {% endif %} 
        </li>
    </ul>
</div>
  </nav>