{% extends 'base.html' %}
{% load static %}
{% block title %}Gallery{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container pt-5">
  <div class="row">
	<!-- 	List of moments -->
  {% for moments in momentss %}
  <div class="col">
    {% for moment in moments %}
      <img src="{{STATIC_URL}}{{moment.picture.url}}" class="img-fluid" alt="Responsive image">
      <br><br>
    {% endfor %}
  </div>
  {% endfor %}
  </div>  
</div>
{% else %}
<div class="container pt-5">
  <p>you're are not logged in</p>
</div>
{% endif %}
{% endblock %}